{% apply inline_css %}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>

    <style>
        body > * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 20px;
            font-family: {{ font_family | raw }};
            font-size: {{ font_size }};
            font-weight: {{ font_weight }};
            line-height: {{ font_line_height }};
            background-color: {{ color_background }};
            color: {{ color_background_text }};
        }

        .content-box {
            width: 625px;
            max-width: 100%;
            margin: auto;
            background-color: {{ color_box }};
            color: {{ color_box_text }};
            border-radius: {{ box_radius }};
            box-shadow: {{ box_shadow }};
            border: {{ box_border }};
        }

        .brand-wrap {
            padding: 30px 35px 10px;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .brand-wrap a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        .brand-wrap img {
            max-height: 26px;
            width: auto;
            padding-right: 6px;
        }

        .brand-wrap .name {
            font-weight: 600;
        }

        .content h1 {
            font-size: 20px;
        }

        .content p {
            margin: 0 0 20px;
        }

        .content h1,
        .content h2,
        .content h3,
        .content h4,
        .content h5,
        .content h6 {
            margin: 0 0 20px;
            font-weight: 600;
        }

        .content h1 {
            font-size: 2rem;
        }

        .content h2 {
            font-size: 1.875rem;
        }

        .content h3 {
            font-size: 1.5rem;
        }

        .content h4 {
            font-size: 1.25rem;
        }

        .content h5 {
            font-size: 1.125rem;
        }

        .content h6 {
            font-size: 1rem;
        }

        .content a {
            color: {{ color_accent }};
        }

        .content .button-wrap {
            text-align: center;
        }

        .content a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: {{ color_accent }};
            color: {{ color_accent_text }};
            text-decoration: none;
            border-radius: 5px;
            font-weight: 600;
        }

        .content code {
            background: rgba(135, 131, 120, 0.15);
            color: #a33a3a;
            border-radius: 3px;
            font-size: 0.85em;
            padding: 0.2em 0.4em;
            font-family: monospace;
        }

        .content blockquote {
            border-left: 4px solid;
            border-color: {{ color_accent }};
            margin: 0 0 20px;
            padding: 15px;
        }

        .content blockquote > *:last-child {
            margin-bottom: 0;
        }
    </style>
</head>

<body>

<div class="content-box">
    <div class="brand-wrap">
        <a href="{{ logo_url }}" target="_blank">
            {% if logo %}
                <img src="{{ logo }}" alt="{{ logo_alt }}">
            {% endif %}
            <span class="name">
                {{ name }}
            </span>
        </a>
    </div>
    <div class="content" style="
            padding: 10px 35px 20px;
        ">
        {{ content | raw }}
    </div>
</div>

<div class="mail-footer" style="
        padding: 25px 35px;
        font-size: 14px;
        text-align: center;
        ">
    {{ address }}

    <div>
        <a href="{{ unsubscribe_url }}" target="_blank" style="color: inherit;">{{ unsubscribe_text }}</a>
    </div>
</div>

</body>

{% endapply %}
