{% apply inline_css %}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>

    <style>
        body > * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 20px;
            font-family: {{ font_family | raw }};
            font-size: {{ font_size }};
            font-weight: {{ font_weight }};
            line-height: {{ font_line_height }};
            background-color: {{ color_accent }}05
        }

        .content-box {
            width: 625px;
            max-width: 100%;
            margin: auto;
            color: {{ font_color_on_box }};
            background-color: {{ color_box_background }};
            border-radius: {{ box_radius }};
            box-shadow: {{ box_shadow }};
            border: {{ box_border }};
        }

        .brand-wrap {
            padding: 30px 35px 10px;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .brand-wrap a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        .brand-wrap img {
            max-height: 26px;
            width: auto;
            padding-right: 6px;
        }

        .brand-wrap .name {
            font-weight: 600;
        }

        .content h1 {
            font-size: 20px;
        }
    </style>
</head>

<body>

<div class="content-box">
    <div class="brand-wrap">
        <a href="{{ brand_url }}" target="_blank">
            {% if logo %}
                <img src="{{ logo }}" alt="{{ logo_alt }}">
            {% endif %}
            <span class="name">
                {{ brand }}
            </span>
        </a>
    </div>
    <div class="content" style="
            padding: 10px 35px 20px;
        ">
        {{ content | raw }}
    </div>
</div>

<div class="mail-footer" style="
        padding: 25px 35px;
        font-size: 14px;
        text-align: center;
        color: {{ font_color_on_background }};
        ">
    {{ address }}

    <div>
        <a href="{{ unsubscribe_url }}" target="_blank" style="color: inherit;">{{ unsubscribe_text }}</a>
    </div>
</div>

</body>

{% endapply %}
