{% extends '@Internal/mail/mail.html.twig' %}

{% block title %}
    {{ strings.subject }}
{% endblock %}

{% block heading %}
    {{ strings.subject }}
{% endblock %}

{% block content %}
    <p>
        {{ strings.greeting }}
    </p>

    <p>
        {{ strings.body }}
    </p>

    {% if strings.note is defined %}
        <p>
            <strong>{{ strings.note }}</strong>
        </p>
    {% endif %}

    {% if buttonUrl is defined %}
        <twig:mail:button href="{{ buttonUrl }}">
            {{ strings.buttonText }}
        </twig:mail:button>
    {% endif %}

    <p>{{ strings.footerText }}</p>

    <p>
        {{ strings.regards }}
        <br>
        HYVOR
    </p>
{% endblock %}
